@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Welcome to the Website</h2>
    <ul>
        <li>/First - Returns Hello World</li>
        <li>/API - Returns JSON Object of Model</li>
        <li>/user/{id} - Returns fake user</li>
        <li>/subscribe - Show form that posts to URL /subscribe</li>
        <li>/mailinglist - show all emails in CSV</li>
    </ul>
</div>

