@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Welcome to the Website</h2>
    <ul>
        <li><a href = "/first">First</a></li>
        <li><a href = "/API">API</a></li>
        <li>/user/{id}</li>
        <li>/subscribe</li>
        <li>/mailinglist</li>
    </ul>
</div>

