@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Welcome to the Website</h2>
    <ul>
        <li><a href = "/first">First</a></li>
        <li><a href = "/API">API</a></li>
        <li><a href = "/user/69">User 69</a></li>
        <li><a href = "/subscribe">Subscribe</a></li>
        <li>/mailinglist</li>
    </ul>
</div>

